.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  padding: 5px;
}

.contacts {}

.contact {
  color: rgb(231, 198, 121);
}

.active {
  color: rgb(247, 236, 222);
}

.messages {}

.message {}